<html>
  <head>
    <link rel='stylesheet' href='./static/pure-min.css'/> 
    <link rel='stylesheet' href='./static/styles.css'/>
    <script type='text/javascript' src='./static/d3.js'></script>
    <script type='text/javascript' src='./static/d3.layout.js'></script>
    <script type='text/javascript' src='./static/treevis.js'></script>
    <script type='text/javascript' src='./static/metonym.js'></script>
  </head>
  <body>
    <div class='container'>
      <div class='titlebar'>
        <h1>Metonym</h1>
      </div>
      <div id='content' class='content'>
        <svg id='svg'></svg>
      </div>
      <div class='footer'>
        <form class='pure-form'>
          <select id='input-select' class='input-select' type='select'></select>
          <input id='metonym-input' class='' type='text'></input>
          <input id='parse-btn' class='button-secondary  pure-button' type='button' value='Parse'></input>
        </form>
      </div>
    </div>
  </body>
</html>
