@font-face {
  font-family: "Terminus";
  src: url("./Terminus.ttf") format("truetype")
}

@font-face {
  font-family: "Terminus Bold";
  src: url("./TerminusBold.ttf") format("truetype")
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Terminus";
}

.button-primary {
  color: white;
  border-radius: 0.25em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background: rgb(66, 184, 221);
}

code {
  font-size: 0.8em;
  padding: 0em;
  background-color: #DDD;
  display: inline-block;
  padding: 2em;
  border-radius: 0.5em;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;  
  flex-flow: column; 
  align-items: stretch;
  justify-content: space-between;
}

.content {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.content svg {
  position: absolute;
}

.content-tab {
  flex: 1 1 auto;
  display: flex;
  overflow: scroll;
}

.control {
  margin: 0em 1em 0em 0em;
}

.control-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 1em;
  align-items: center;
  flex-shrink: 0;
}

.example-wrapper {
  background-color: #eee;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.summary-stats {
  padding: 0 0 1em;
  margin: 0 0 1em;
  border-bottom: 1px solid #eee;
}

.example-row {
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.example {
  padding: 1em;
  border-radius: 0.25em;
  background-color: #eee;
}

.example-checkbox {
  margin-left: auto;
}

.example-id {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.error-bar {
  width: 100%;
  height: 15px;
  background-color: #ffa3b7;
  padding: 1em;
  color: #ff0037;
  display: none;
}

.footer {
  background-color: #222;
}

.footer form {
  margin: 0;
  padding: 1em;
  display: flex;
}

.footer select {
  width: 200px;
  padding-right: 1em;
}

.footer input[type=text] {
  margin: 0 0 0 1em;
}

.footer input[type=button] {
  margin: 0 0 0 1em;
}

.footer .intent-input {
  flex: 1;
}

.footer .metonym-input {
  flex: 4;
}

.heading {
  display: flex;
  align-items: center;
}

.heading a {
  color: #ED4C67;
}

.menu-container {
  float: right;
}

.menu-container ul {
  margin: 0;
  padding: 0;
}

.menu-container li {
  float: left;
  list-style: none;
  color: #ccc;
  margin-left: 1em;
}

.menu-container li:hover {
  color: rgb(66, 184, 221);
  cursor: hand;
}

.overview-content {
  margin: 1em;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.results-container {
  margin: 1em;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex: 1 0 auto;
  overflow-y: scroll;
}

.results-list {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 0.25em;
  border: 1px solid #eee;
  overflow-y: scroll;
}

.results {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 1em 0em 0em 1em;
}

.entity-list {
  padding: 0;
  margin: 0 1em;
  display: inline-block;
  list-style-type: none;
}

.entity-li { 
  padding: 0.25em;
  margin: 0 0.25em 0.25em 0;
  border-radius: 0.25em;
}

.entity { 
  display: inline;
  padding: 0.25em;
  border-radius: 0.25em;
  margin: 0 0.1em 0 0.1em;
}

/*
.entity-1 {background-color: #FFC312;}
.entity-2 {background-color: #C4E538;}
.entity-3 {background-color: #12CBC4;}
.entity-4 {background-color: #FDA7DF;}
.entity-5 {background-color: #ED4C67;}
.entity-6 {background-color: #F79F1F;}
.entity-7 {background-color: #A3CB38;}
.entity-8 {background-color: #1289A7;}
.entity-9 {background-color: #D980FA;}
.entity-10 {background-color: #B53471;}
*/

.raw-result {
  resize:none;
  flex: 1 0 auto;
  width: 45%;
  margin: 1em;
  padding: 1em;
  border: 1px solid #eee;
  border-radius: 0.5em;
  overflow-y: scroll;
}

.titlebar {
  color: white; 
  background-color: #222;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 1em; 
}

.titlebar h1 {
  margin: 0;
  float: left;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
