html, body {
  margin: 0;
  height: 100%;
  font-family: monospace;
}

.button-primary {
  color: white;
  border-radius: 0.25em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background: rgb(66, 184, 221);
}

code {
  font-size: 0.8em;
  padding: 0em;
  background-color: #DDD;
  display: inline-block;
  padding: 2em;
  border-radius: 0.5em;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;  
  flex-flow: column; 
  align-items: stretch;
  justify-content: space-between;
}

.content {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.content svg {
  position: absolute;
}

.content-tab {
  flex: 1 1 auto;
  display: flex;
}

.error-bar {
  width: 100%;
  height: 15px;
  background-color: #ffa3b7;
  padding: 1em;
  color: #ff0037;
  display: none;
}

.footer {
  background-color: #222;
}

.footer form {
  margin: 0;
  padding: 1em;
  display: flex;
}

.footer select {
  width: 200px;
  padding-right: 1em;
}

.footer input[type=text] {
  margin: 0 0 0 1em;
}

.footer input[type=button] {
  margin: 0 0 0 1em;
}

.footer .intent-input {
  flex: 1;
}

.footer .metonym-input {
  flex: 4;
}

.menu-container {
  float: right;
}

.menu-container ul {
  margin: 0;
  padding: 0;
}

.menu-container li {
  float: left;
  list-style: none;
  color: #ccc;
  margin-left: 1em;
}

.menu-container li:hover {
  color: rgb(66, 184, 221);
  cursor: hand;
}

.overview-content {
  margin: 1em;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.raw-result {
  resize:none;
  flex: 1 0 auto;
  width: 45%;
  margin: 1em;
  padding: 1em;
  border: 1px dashed #999;
  border-radius: 0.5em;
  overflow-y: scroll;
}

.titlebar {
  color: white; 
  background-color: #222;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 1em; 
}

.titlebar h1 {
  margin: 0;
  float: left;
}

.tool-container {
  padding: 0.5em; 
  margin-top: 0.5em; 
  border: 1px solid #ccc; 
  border-radius: 0.25em;
}

.tools-left {
  float: left; 
  width: 49%; 
  min-width: 300px; 
  margin-right: 1em;
}

.tools-right {
  width: 49%; 
  min-width: 300px; 
  display: inline-block;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
